<form [formGroup]="Form" (ngSubmit)="onRegister()" novalidate>
    <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input type="text" name="email" class="form-control" formControlName="email"
        [class.is-invalid]="Form.get('email').touched && Form.get('email').invalid" 
         >
    </div>
    <div class="form-group">
        <label >Nombre</label>
        <input type="text"  class="form-control" formControlName="givenName"
        [class.is-invalid]="Form.get('givenName').touched && Form.get('givenName').invalid" >
    </div>
    <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName"
        [class.is-invalid]="Form.get('lastName').touched && Form.get('lastName').invalid" >
    </div>
    <div class="form-group">
        <label for="phone_number">Telefono</label>
        <input type="text" name="phone_number" id="phone_number" class="form-control"  formControlName="phone_number"
        [class.is-invalid]="Form.get('phone_number').touched && Form.get('phone_number').invalid" >
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control" formControlName="password"
        [class.is-invalid]="Form.get('password').touched && Form.get('password').invalid" >

    </div>
    <div class="form-group mt-2">
        <button class="btn btn-outline-success w-100" [disabled]="Form.invalid" type="submit"> 
            <i class="fas fa-sign-in-alt"></i> Crear Cuenta</button>
    </div>
</form>
